.container {
  max-width: unset !important;
  width: 100% !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.nav-container {
  width: 100% !important;
}
.v-image .v-responsive__sizer {
  padding: 0 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

@media #{$extraSmall} {
  .container {
    width: 100% !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

@media (max-width: 959px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media #{$extraLarge} {
  .container {
    max-width: 1400px !important;
  }
}

.v-application,.v-main__wrap {
  background: $background !important;
  font-family: inherit !important;
}

button {
  letter-spacing: 0 !important;
}

.v-input__slot::before {
  border: 0 !important;
}

.v-messages__message {
  text-align: center;
}

.v-input {
  input {
    text-align: inherit;
  }
}

header.v-sheet {
  height: 64px !important;

  div.v-toolbar__content {
    height: 100% !important;
    justify-content: space-between;

    .mdi-menu {
      color: $text-primary;
      font-size: 22px;
    }

    .v-app-bar__nav-icon {
      margin-left: 0 !important;
    }
  }
}

.v-image .v-responsive__sizer {
  padding: 0 !important;
}

.btn{
  background: transparent !important;
  box-shadow: none !important;
}
.theme--light.v-btn:hover::before,.theme--light.v-btn:focus::before,.v-ripple-container:focus::before{
  opacity: 0 !important;
}
.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined){
  box-shadow: none !important;
}
.theme--light.v-list-item--active:hover::before, .theme--light.v-list-item--active::before{
  opacity: 0 !important;
}

.v-navigation-drawer__content {
  padding-top: 0;
}

.sideBar {
  .v-list-item--link {
    padding: 1% 6%;
    margin-top: 2%;
    font-size: 14px;
    font-weight: 500;
    color: $text-secondary;
  }
}
.v-progress-linear{
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
}
.v-progress-circular {
  margin: .2rem;
  margin-top: .5rem;
  height: 35px !important;
  width: 35px !important;
}
.showProject{
  .v-progress-circular__info{
    color: $text-primary;
    z-index: 1;
  }
}
.progress{
  .v-tabs-slider{
    opacity: 0;
  }
  .v-tabs-bar , .v-tabs-items , .v-card{
    background: transparent !important;
  }
  .v-tab{
    width: 33.33%;
    color: $primary !important;
    &.v-tab--active{
      background-color: $primary-soft;
      color: $primary !important;
    }
  }
}
input{
  text-transform: none !important;
}
.v-list-item__action{
  .v-input__slot{
    border:0 !important;
  }
}
.taskCahrt{
  .apexcharts-legend{
    position: static !important;
  }
}
